@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap');
/* Settings padrão */
*{
    margin:0;
    padding:0;
    font-family: 'Press Start 2P', cursive;
}
:root{
    --title-color: rgba(42, 255, 53, 0.5);
    --primary: hsla(130, 100%, 50%, 0.75);
}
body{
    background-image: url(imgs/milky.jpg);
    background-size:100%;
    background-repeat:no-repeat;
    background-color:rgb(2, 2, 12);
}
h1.text-shine{
    font-size:30px;
    text-align: center;
    opacity: 0.9;
    color:var(--title-color);
    margin: 40px 0 20px;
}
body>p{
    font-size: 11px;
    line-height: 15px;
    width:350px;
    margin: 0 auto;
    text-align: center;
    color:var(--primary);
}
#div-nasa{
    width:330px;
    margin: 30px auto;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 0.7em var(--primary);
    background-color: rgba(50, 50, 50, 0.4);
    text-align: center;
    color:var(--primary);
}
#div-nasa>img{
    width:100%;
    box-shadow: 0 0 0.7em var(--primary);
    cursor: pointer;
}
#div-nasa>p,h1{
    margin: 15px 10px;
}
#div-nasa>p{
    font-size: 10px;
    line-height: 13px;
}
#div-nasa>p.description{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 13px;
}
#div-nasa>h1{
    font-size: 13px;
}
#foto-grande{
    top:0px;
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgba(50, 50, 50, 0.4);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#foto-grande>img{
    max-width:75%;
    max-height:80%;
    border-radius: 10px;
    box-shadow: 0 0 0.5em var(--primary);
}
#foto-grande>p{
    color:white;
    text-decoration: underline;
    margin: 0 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
}
/* ====================== */

.text-shine{
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(117, 255, 117), 0 0 20px rgb(122, 255, 95), 0 0 30px #4bff4bb6;
    }
    to {
      text-shadow: 0 0 10px rgba(76, 255, 76, 0.726), 0 0 20px rgba(131, 255, 109, 0.815), 0 0 30px #5dff5db7;
    }
}